@value niceGray: "rgba(0, 0, 0, 0.2)";

ul {
  list-style-type: none;
  border-style: solid;
  position: absolute;
  margin: 0;
  padding: 10px;
}

li {
  background: white;
}

svg {
  position: fixed;
  z-index: -1;
}

.over {
  border: dashed;
}

.selected {
 background: rgba(0, 0, 0, 0.2);
}

.item:hover {
 background: rgba(0, 0, 0, 0.2);
}

